{% extends 'account/base/Home.html' %} {% block meta %}
<title>تغییر پسورد</title>
{% endblock meta %} {% block body %}
<center>
    <form class="form-signin" method="POST" style="max-width: 500px;margin-top: 70px;">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}} center" style="border-radius: 5rem;">{{ message | safe }}
            <span onclick="this.parentElement.style.display='none'">&times;</span>
        </div>
        {% endfor %} {% endif %} {% csrf_token %} {% for fm in form %}
        <div class="form-label-group">{{fm}} {{fm.errors}}
        </div>
        {% endfor %}

        <button class="f-btn bg-faral btn-block text-uppercase" type="submit">تغییر پسورد</button>
        <br>
    </form>
</center>
{% endblock body %}